@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
</style>
@font-face {
	font-family: "font-logo";
	src: url("../_fontes/bubblegun-sens-regular.otf");
}
            body {color: black;
            	background-color: #dddddd;
            	font-family: arial, sens-serif;

            }
			p {text-align: justify;
			   text-indent: 50px;   
			}
			a {
				color: #606060;
				text-decoration: none;
			}
			a:hover {
				color: blue;
				text-decoration: underline;
			}

			div#interface {
				width: 900px;
				background-color: #ffffff;
				margin: -10px auto 0px auto;
				box-shadow: 0px 0px 10px gray;
				padding: 20px
			}
			header#cabecalho img#icone {
				position: absolute;
				left:950px;
				top: 90px;
			}
			header#cabecalho {
				border-bottom: 1px #606060 solid;
				height:180px;
				background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
			}
			header#cabecalho h1 {
				font-family: 'font-logo', sens-serif;
				font-size: 30pt;
				color: #606060;
				text-shadow: 1px 1px 1px rgba(0,0,0,.6);
				padding: 0px;
				margin-bottom: 0px;	
			}
			header#cabecalho h2 {
				font-family: 'Titillium Web', sans-serif;
				color: #888888;
				font-size:15pt;
				padding: 0px;
				margin-top: 0px;
			}
		table#tabela1 {
			border: 1px solid #606060;
			border-spacing: 0px;
			margin-left: auto;
			margin-right: auto;
		}
		table#tabela1 td{
			border: 1px solid #606060;
			padding: 5px;
		}
		table#tabela1 td.ce {
			color: #ffffff;
			background-color: #606060;
			vertical-align: top;
			text-align: right;
			font-weight: bold;
		}
		table#tabela1 td.cd {
			background-color: #cecece;
		}
		table#tabela1 caption {
			color: gray;
			font-size: 15pt;
		    font-weight: bolder;
		}
		table#tabela1 caption span {
			display: block;
			float: right;
			font-size: 8pt;
			color: black;
			margin-bottom: 0px;
			margin-top: 30px;
		}
		header#cabecalho-artigo h1 {
			color: gray;
			font-size: 20pt;
			font-family: 'font-logo' sens-serif;
			margin-bottom: 0px;
			margin-top: 0px;
		}
		header#cabecalho-artigo h4 {
			font-size: 13pt;
			color: #cecece;
			background-color: #ffffff;
			margin: 0px;
		}
		header#cabecalho-artigo h3 {
			font-size: 12px;
			color: #606060;
			margin-bottom: 10px;
		}
		.direita {
			text-align: right;
			margin-bottom: 0px;
		}
			/*Formatação de imagens com legendas*/
			figure.foto-legenda {
				color: white;
				position: relative;
				border:8px solid white;
			    box-shadow: 1px 1px 4px black
			}
			figure.foto-legenda img {
				width: 100%;
			    height: 45%;
			    }
			figure.foto-legenda figcaption {
				opacity: 0;
				position: absolute;
				top:0px;
				background-color: rgba(0,0,0,.4);
				width: 100%;
				height: 100%;
				padding: 10px
				box-sizing: border-box;}

			figure.foto-legenda:hover figcaption{
					opacity: 1;
					transition: 1s;}
            /*formatação de menu*/
            nav#menu {
            	display: block;

            }
            nav#menu ul {
            	list-style: none;
            	text-transform: uppercase;
            	position: absolute;
            	top:-20px;
            	left:500px;
            	
            }
            nav#menu li {
            	display: inline-block;
            	background-color: #dddddd;
            	padding: 10px;
            	margin: 2px;
            	transition: background-color 1s;
            }
            nav#menu li:hover {
            	background-color: #606060;
            }
            nav#menu h1{
            	display: none
            }
            nav#menu a {
            	color: #000000;
            	text-decoration: none;
            	transition: color 1s;
            }
            nav#menu a:hover {
            	color: #ffffff;
            }

            section#corpo {
            	display: block;
            	width: 500px;
            	float: left;
            	padding-right: 15px;
            	margin-right: 10px;
            	border-right: 1px solid #606060;
            }
            article#principal h2{
            	font-size: 12pt;
            	color: #606060;
            	background-color: #dddddd;
            	padding: 5px 0px 5px 10px;
            	margin: 10px 0px 10px 0px;
            }
            aside#latral {
            	display: block;
            	width: 350px;
            	float: right;
            }
            aside#lateral {
            	background-color: #dddddd;
            	margin-left: 535px;
            	padding: 10px;
            	margin-top: 15px;
            	margin-right: 0px;
            	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
            }
            aside#lateral h1{
            	font-family: sens-serif;
            	font-size: 20pt;
            	color: #606060;
            }
            aside#lateral h1 {
            	margin-top: 0px;
            }
            aside#lateral h2{
            	background-color: gray;
            	font-size: 13pt;
            	color: #ffffff;
            	margin-left: 0px;
            }
            footer#rodape {
            	clear: both;
            	border-top: 1px solid #606060;
            }
            footer#rodape {
            	text-align: center;
            }